{% extends 'base.html.twig' %}

 
{% block body %}

	<h3> Choose the Best {{ category[0].category|title }} in {% if (town_id) %} {{ category[0].town }} {% endif %} {{ category[0].state }} </h3>

{% for a in category %}

		<div class="pure-g">
			<div class="pure-u-1 category-item-box">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-sm-3-5 pure-u-md-4-5">
						<strong><a href="/{{a.id}}/{{a.slug}}">{{a.name}} {{'Reviews'|trans}}</a></strong>
						{% if a.text|length > 0 %}
							<p>{{'Review'|trans}}: {{ a.text|length > 500 ? a.text|slice(0, 500) ~ '...' : a.text }} <a href="/{{a.id}}/{{a.slug}}">{{'Read more'|trans}}</a></p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	

{% endfor %}


{% endblock %}